<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- 解决测试阶段微信缓存 -->
  <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" /> -->
  <title></title>

  <!-- <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon" /> -->
  <!-- <link rel="shortcut icon" href="https://api.mqkj.net.cn/moguPlan/favicons/favicon.ico" type="image/x-icon" /> -->
  <!-- <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script> -->
  
<!-- <script src="https://cdn.bootcss.com/vConsole/3.2.2/vconsole.min.js"></script> -->


</head>

<body>
  <div id="root">
    
  <div style="display:none">
    <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1279013536&web_id=1279013536"></script>
  </div>
  </div>
</body>

<script>
  
	// var vConsole = new VConsole();

</script>

</html>